python -m pip install streamlit==0.80.0
python -m pip install pandas==1.2.4
python -m pip install matplotlib.pyplot==3.4.1
python -m pip install numpy==1.20.2
python -m pip install pydeck==0.6.2
python -m pip install mapbox==0.18.0